*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
;:root{
    --background-color: #ffffff;
    --text-color: #0f172a;
    --main-color:#6b7280;
    --other-color:#334155;
    --big-font: 4.3rem;
    --h2-font:2.2rem;
    --p-font:1rem;
}
.body{
    color: var(--text-color);
    background: var(--background-color);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 17px 11%;
    border-bottom: 1px solid #f7f9fb;
    transition: all .45s ease;
}
    .logo img {
  width: 200px; /* Set the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    background:transparent;
    border-radius: 30px;
    transition: all .45s ease;
}
.navbar a:hover{
    background: #f7f9fb;
}
.navbar a :active{
    background: #f7f9fb;
}
.icons{
    display: flex;
    align-items: center;
}
.icons i{
    height: 50px;
    width: 50px;
    background: #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--other-color);
    font-size: 22px;
    margin-right: 25px;
    margin-left: 10px;
    transition: all .45s ease;
}
.icons i:hover{
    transform: scale(0.9);
}
#menu-icons{
    color: var(--other-color);
    font-size: 43px ;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.section{
    padding: 100px 11% 90px;
}
.home{
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: cover ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.home-img img{
    width: 100%;
    height: auto;
}
.home-text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--other-color);
}
.home-text h1{
    font-size: 44px;
    color: var(--text-color);
    line-height: 1.2;
    margin: 25px 0 45px;
}
<!----feature---->
.feature{
    padding: 50px 12%;
    font-size: 32px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 15% 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.feature h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.end-icons {
    display: flex;
    flex-direction: column; /* This property sets the direction of the flex container to column */
    margin: 10px 20px 15px 30px; 
}

.contact-icon {
    font-size: 24px;
    margin-bottom: 10px; /* Add margin between the icons if needed */
    padding: 30px 0;
    margin: 10px 20px 15px 30px; 
}